In [14]:
import pandas as pd

url = "dataset/acaomc.csv"
pd.read_csv(url,sep=";")

,MCD,S&P,DJ,Wendy,YUM,Starbuck,Coca,Wheat,Oil,Commodity,sugar,Volatilty,War
0,1,"-0,0028","-0,0008","-0,0033","0,0013","-0,0034","0,0023","-0,0207","-0,0040","-0,0044","0,0200","-0,0990","1,0000"
1,0,"-0,0031","-0,0041","-0,0167","-0,0118","-0,0004","-0,0015","0,0005","0,0164","0,0143","0,0046","0,1485","1,0000"
2,0,"-0,0014","-0,0077","-0,0257","-0,0025","-0,0104","0,0003","0,0146","-0,0054","-0,0018","-0,0095","-0,5238","1,0000"
3,0,"0,0032","0,0068","0,0269","0,0004","-0,0102","-0,0046","0,0032","-0,0075","0,0020","0,0133","1,1193","1,0000"
4,0,"0,0089","0,0103","0,0092","-0,0057","0,0110","0,0086","-0,0136","-0,0214","0,0012","0,0060","-0,0374","1,0000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1252,1,"0,0021","0,0064","0,0122","-0,0009","0,0003","0,0065","-0,0064","0,0158","0,0041","0,0039","-0,0175","0,0000"
1253,1,"0,0021","0,0015","0,0017","0,0036","0,0008","-0,0084","-0,0005","-0,0058","0,0036","0,0233","0,0128","0,0000"
1254,0,"0,0000","-0,0030","0,0073","-0,0040","0,0042","-0,0032","0,0151","-0,0019","0,0021","-0,0190","0,0137","0,0000"
1255,0,"0,0116","0,0127","-0,0039","0,0077","-0,0051","-0,0030","0,0027","0,0161","0,0072","-0,0008","-0,0300","0,0000"
1256,0,"0,0067","0,0082","0,0119","0,0068","0,0051","0,0060","0,0109","0,0241","-0,0049","0,0112","-0,0640","0,0000"

In [15]:
mcdonalds = pd.read_csv(url,sep=";")
mcdonalds.head()

,MCD,S&P,DJ,Wendy,YUM,Starbuck,Coca,Wheat,Oil,Commodity,sugar,Volatilty,War
0,1,"-0,0028","-0,0008","-0,0033","0,0013","-0,0034","0,0023","-0,0207","-0,0040","-0,0044","0,0200","-0,0990","1,0000"
1,0,"-0,0031","-0,0041","-0,0167","-0,0118","-0,0004","-0,0015","0,0005","0,0164","0,0143","0,0046","0,1485","1,0000"
2,0,"-0,0014","-0,0077","-0,0257","-0,0025","-0,0104","0,0003","0,0146","-0,0054","-0,0018","-0,0095","-0,5238","1,0000"
3,0,"0,0032","0,0068","0,0269","0,0004","-0,0102","-0,0046","0,0032","-0,0075","0,0020","0,0133","1,1193","1,0000"
4,0,"0,0089","0,0103","0,0092","-0,0057","0,0110","0,0086","-0,0136","-0,0214","0,0012","0,0060","-0,0374","1,0000"

In [ ]:
mcdonalds